<% include partials/header %>

<div class="row" style="text-align: center">
    <% var length = childData.length %>
    <% console.log(childData[0]) %>
    <% for(var i=0; i<length; i++) { %>
        <div class="col-sm">
            <div class="card" style="width: 18rem; margin-bottom: 40px;">
                    <div class="card-body">
                      <h5 class="card-title">Summary</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Trip dated: <%= childData[i].startTime.split('T')[0].split('-').reverse().join('-') %></h6>
                      <br>
                      <h6 class="card-text">Trip Started At: <%= childData[i].startTime.split('T')[1].split(':').join(':').split('.')[0] %></h6>
                      <h6 class="card-text">Trip Ended At: <%= childData[i].endTime.split('T')[1].split(':').join(':').split('.')[0] %></h6>
                      <h6 class="card-text">Distance Travelled: <%= childData[i].distanceTravelled %> KMs</h6>
                      <h6 class="card-text">Mileage Received: <%= childData[i].mileage %> KM/L</h6>
                      <p class="card-text"></p>
                    </div>
                  </div>
        </div>
    <% } %>
</div>
<% include partials/footer %>
